sudo: false

language: php

php:
  - '5.3'
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm

cache:
  directories:
    - node_modules

before_install:
  - npm config set spin false
  - npm install -g npm

install:
  - npm install

script:
  - npm run-script lint-travis

notifications:
  email:
    on_success: never
    on_failure: change
